{% extends "base.html" %}

{% load static %}

{% block title %}
<title>New Post</title>
{% endblock %}

{% block a %}
{% endblock %}

{% block content %}
<style>
  body {
    background: #69B0D8;
    /* justify-content: center; */
  }

  .post {
    /* justify-content: center; */
    text-align: center;
  }

  section {
    justify-content: center;
    /* padding-left: 450px; */
    margin-top: 150px;
  }

  form {
    display: grid;
  }

  input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    /* margin-left: 44px; */
  }

  .submit_btn {
    padding-right: 200px;
  }

  input[type='submit'] {
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    /* margin-left: 90px; */
    /* text-align: center; */
    background: #0171d3;
    color: white;
    font-size: 20px;
    border: none;
  }

  textarea {
    width: 550px;
    height: 240px;
    /* margin-left: -40px; */
    border-radius: 10px;
  }

  input[type='checkbox'] {
    width: 18px;
    height: 18px;
  }

  h1 {
    text-align: center;
    /* margin-left: -300px; */
    font-size: 35px;
  }

  form p {
    margin-top: -10px;

  }

  h2 {
    text-align: center;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: blue;
  }

.cancel{
  padding-left: 300px;
}

  .cancel_btn {
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-top: -60px;
    border-radius: 5px;
    /* margin-left: 300px; */
    background: darkred;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  a {
    margin-top: -38px;
  }
</style>
<script src="https://use.fontawesome.com/3a2eaf6206.js"></script>

<body>
  <h1 class="new_h1">New Note</h1>
  <div class="post">
    <section>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit_btn"> <input type="submit" value="Submit note" id="post" /></div>


      </form>
      <div class="cancel">
        <a href="{% url 'notes' %}"><button class="cancel_btn">Cancel</button></a>
      </div>
    </section>
  </div>
</body>

{% endblock content %}