{% extends "base.html" %}

{% load static %}

{% block title %}
<title>New Post</title>
{% endblock %}

{% block a %}
{% endblock %}

{% block content %}
<style>
  body {
    background: lightblue;
    margin: 0;
    /* justify-content: center; */
  }

  svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin-right: 10px;
        }

        .nav_links {
            display: grid;
            background: #69B0D8;
            width: 250px;
            height: 100vh;
            position: fixed;
            margin-top: -23px;
        }

        .nav_links a {
            text-decoration: none;
            margin-left: 100px;
            font-family: 'Inter', sans-serif;
            color: black;
            font-weight: bold;
        }

        .tasks_url {
            display: flex;
            margin-top: 100px;
            padding: 15px;
        }

        .tasks_url p {
            margin-top: 2px;
        }

        .tasks_url2 {
            display: flex;
            margin-top: -20vh;
            padding: 15px;
            background: lightgreen;
            border-radius: 50px 0px 0px 50px;
            height: 20px;


        }

        .tasks_url2 p {
            margin-top: 2px;
        }

        .tasks_url3 {
            display: flex;
            margin-top: -35vh;
            padding: 15px;
        }

        .tasks_url3 p {
            margin-top: 2px;
        }

  .post {
    /* justify-content: center; */
    text-align: center;
  }

  section {
    justify-content: center;
    /* padding-left: 450px; */
    margin-top: 150px;
  }

  form {
    display: grid;
  }

  input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    /* margin-left: 44px; */
  }

  .submit_btn {
    padding-right: 200px;
  }

  input[type='submit'] {
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    /* margin-left: 90px; */
    /* text-align: center; */
    background: #0171d3;
    color: white;
    font-size: 20px;
    border: none;
  }

  textarea {
    width: 550px;
    height: 240px;
    /* margin-left: -40px; */
    border-radius: 10px;
  }

  input[type='checkbox'] {
    width: 18px;
    height: 18px;
  }

  h1 {
    text-align: center;
    /* margin-left: -300px; */
    font-size: 35px;
  }

  form p {
    margin-top: -10px;

  }

  h2 {
    text-align: center;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: blue;
  }

  .cancel {
    padding-left: 300px;
  }

  .cancel_btn {
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-top: -55px;
    border-radius: 5px;
    margin-left: -120px;
    background: darkred;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
  }

  a {
    margin-top: -38px;
  }

  .go_back{
    position: absolute;
    margin-left: 1200px;
    font-size: 20px;
    margin-top: -550px;
  }

  @media(max-width:780px) {
    form {
      padding-right: 260px;
    }
  }

  @media(max-width:440px) {
    form {
      width: 100px;
    }

    input[type='text'] {
      width: 300px;
    }

    textarea {
      width: 300px;
    }

    input[type='submit'] {
      width: 150px;
    }

    .cancel_btn {
      width: 150px;
    }
  }

  @media(max-width:400px) {
    form {
      width: 150px;
      /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;   */
      padding-left: 100px;
    }

    input {
      width: 150px;
    }



    input[type='submit'] {
      width: 150px;
      height: 50px;
      padding: 5px;
      margin-top: 250px;
      border-radius: 5px;
      margin-left: 4px;
      background: #0171d3;
      color: white;
      font-size: 20px;
      border: none;
    }
  }

  @media(max-width:350px) {
    section {
      width: 200px;
    }

    input {
      width: 200px;
    }

    button {
      width: 200px;
    }

    h2 {
      text-align: center;
      font-size: 15px;
    }

    a {
      text-decoration: none;
      color: blue;
    }
  }

  @media(max-width:290px) {
    section {
      width: 170px;
    }

    input {
      width: 170px;
    }

    button {
      width: 170px;
    }

    h2 {
      text-align: center;
      font-size: 15px;
    }

    a {
      text-decoration: none;
      color: blue;
    }
  }
</style>
<script src="https://use.fontawesome.com/3a2eaf6206.js"></script>

<body>

  <div class="nav_links">
    <a href="{% url 'dashboard' %}" class="tasks_url"><svg xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="none">
            <path
                d="M19 5V7H15V5H19ZM9 5V11H5V5H9ZM19 13V19H15V13H19ZM9 17V19H5V17H9ZM21 3H13V9H21V3ZM11 3H3V13H11V3ZM21 11H13V21H21V11ZM11 15H3V21H11V15Z"
                fill="black" />
        </svg>
        <p>Dashboard</p>
    </a>
    <a href="{% url 'tasks' %}" class="tasks_url2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="none">
            <path
                d="M12 22C12.8 22 13.6 21.9 14.3 21.7C13.9 21.2 13.5 20.6 13.3 19.9C12.9 20 12.4 20 12 20C7.6 20 4 16.4 4 12C4 7.6 7.6 4 12 4C12.8 4 13.5 4.1 14.2 4.3L15.8 2.7C14.6 2.3 13.3 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22ZM6.5 11.5L7.9 10.1L11 13.2L19.6 4.6L21 6L11 16L6.5 11.5ZM19 14L17.74 16.75L15 18L17.74 19.26L19 22L20.25 19.26L23 18L20.25 16.75L19 14Z"
                fill="black" />
        </svg>
        <p>Tasks</p>
    </a>
    <a href="{% url 'notes' %}" class="tasks_url3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="none">
            <path
                d="M16 9H21.5L16 3.5V9ZM7 2H17L23 8V18C23 18.5304 22.7893 19.0391 22.4142 19.4142C22.0391 19.7893 21.5304 20 21 20H7C5.89 20 5 19.1 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2ZM3 6V22H21V24H3C2.46957 24 1.96086 23.7893 1.58579 23.4142C1.21071 23.0391 1 22.5304 1 22V6H3Z"
                fill="black" />
        </svg>
        <p>Notes</p>
    </a>
</div>

  <h1 class="new_h1">New Task</h1>
  <div class="post">
    <section>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit_btn"> <input type="submit" value="Submit task" id="post" /></div>


      </form>
      <div class="cancel">
        <a href="{% url 'tasks' %}"><button class="cancel_btn">Cancel</button></a>
      </div>
    </section>
  </div>

  <a href="{% url 'tasks' %}"><h1 class="go_back">← Go back Tasks</h1></a>

</body>

{% endblock content %}